@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
    font-family: 'Montserrat';
}
body {
    margin: 0 auto;
}

/* -------------   section top-page   ----------- */
section.top-page {
    background: url("images/bg.jpg");
    background-size: cover;
    height: 80vh;
    padding: 25px;
}
header.header {
    display: flex;
    align-items: center;
}
header.header img {
    width: 150px;
}
.landing-page {
    position: relative;
    padding: 20px 50px;
}

.big-title {
    color: white;
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 100;
    width: 40%;
}
.scroll-down {
    position: fixed;
    color: white;
    text-decoration: none;
    /* bottom: -20%; */
    z-index: 6;
    bottom: 0;
    left: 0px;
}

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 600px;
    margin-left: 30px;
}
nav.nav li a{
    color: white;
    text-decoration: none;
}

/* --------------  section services  ------------ */
section.services{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10%;
}
.delivery-icon {
    font-size: 50px;
    color: #add981;
}
.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-details {
      font-weight: 600;
      width: 75%;
      text-align: center;
}

/* -------------   section bests-item ----------- */
.bests-items {
    margin: 100px;
}
.section-title {
    font-size: 50px;
    font-family: 'Abril Fatface';
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content : "";
    position: absolute;
    background-color: #add981;
    width: 50px;
    height: 7px;
    bottom: 0;
    border-radius: 25px;
}
.best-plants {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.plant-box {
    position: relative;
    background-size: cover;
    background-position: center;
}
.no-grid{
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.plant1 {
    background-image: url(images/nos_meilleures_ventes/1.jpg);
}
.plant2 {
    background-image: url(images/nos_meilleures_ventes/2.jpg);
}
.plant3 {
    background-image: url(images/nos_meilleures_ventes/3.jpg);
}
.plant4 {
    background-image: url(images/nos_meilleures_ventes/4.jpg);
}
.plant-details {
    position: absolute;
    background-color: #FFFFFFDF;
    bottom: 0px;
    line-height: 3px;
    width: 100%;
    text-align: center;
}
.plant-name {
    font-size: 22px;
    font-weight: 600;
}
.plant-price {
    color: #ADD981;
    line-height: 3px;
    font-size: 14px;
    font-weight: 800;
}

/* --------------   section all-plants  -----------*/
.all-plants{
    margin: 100px;
}
.plant-grid{
    position: relative;
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
    grid-gap: 10px;
}
.plant-grid1{
    background-image: url(images/nos_plantes/1.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
}
.plant-grid2{
    background-image: url(images/nos_plantes/2.jpg);
    grid-column: 3/5;
}
.plant-grid3{
    background-image: url(images/nos_plantes/3.jpg);
    grid-column: 3/5;
}
.plant-grid4{
    background-image: url(images/nos_plantes/4.jpg);
    grid-column: 1;
    grid-row: 3/5;
}
.plant-grid5{
    background-image: url(images/nos_plantes/5.jpg);
    grid-column: 2/4;
    grid-row: 3/5;
}
.plant-grid6{
    background-image: url(images/nos_plantes/6.jpg);
    grid-column: 4;
    grid-row: 3/5;
}

/*-------------- pide de page -----------------*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}
footer a.cgv{
    text-decoration: none;
    color: black;
}
